{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">

  <div class="author__avatar">
    <img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}">
  </div>

  <div class="author__content">
    {% if page.lang == 'zh-CN' %}
      {% assign display_name = author.name_zh | default: author.name %}
    {% else %}
      {% assign display_name = author.name %}
    {% endif %}
    <h3 class="author__name">{{ display_name }}</h3>
    {% if page.lang == 'zh-CN' %}
      {% if author.bio_zh %}<p class="author__bio">📍&nbsp; {{ author.bio_zh }}</p>{% endif %}
      {% if author.location_zh %}<p class="author__bio">📍&nbsp; {{ author.location_zh }}</p>{% endif %}
    {% else %}
      {% if author.bio %}<p class="author__bio">📍&nbsp; {{ author.bio }}</p>{% endif %}
      {% if author.location %}<p class="author__bio">📍&nbsp; {{ author.location }}</p>{% endif %}
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <!-- <button class="btn btn--inverse">More Info & Contact</button> -->
    <ul class="author__urls social-icons">
      {% if page.lang == 'zh-CN' %}
        {% if site.description_zh %}
          <li><div style="white-space: normal; margin-bottom: 1em;">{{ site.description_zh }}</div></li>
        {% endif %}
      {% else %}
        {% if site.description %}
          <li><div style="white-space: normal; margin-bottom: 1em;">{{ site.description }}</div></li>
        {% endif %}
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> Website</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author.dblp %}
        <li><a href="{{ author.dblp }}"><i class="ai ai-dblp ai-fw" aria-hidden="true"></i> DBLP</a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      {% endif %}
      {% if author.semanticscholar %}
        <li><a href="{{ author.semanticscholar }}"><i class="fas fa-fw fa-book-open" aria-hidden="true"></i> Semantic Scholar</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
      {% endif %}
      {% if author.openreview %}
        <li><a href="{{ author.openreview }}"><i class="fas fa-fw fa-comments" aria-hidden="true"></i> OpenReview</a></li>
      {% endif %}
    </ul>
    <div class="author__urls_sm">
      {% if author.uri %}
        <a href="{{ author.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      {% endif %}
      {% if author.email %}
        <a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a>
      {% endif %}
      {% if author.googlescholar %}
        <a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i></a>
      {% endif %}
      {% if author.dblp %}
        <a href="{{ author.dblp }}"><i class="ai ai-dblp ai-fw" aria-hidden="true"></i></a>
      {% endif %}
      {% if author.orcid %}
        <a href="{{ author.orcid }}"><i class="ai ai-orcid-square ai-fw"></i></a>
      {% endif %}
      {% if author.linkedin %}
        <a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a>
      {% endif %}
      {% if author.semanticscholar %}
        <a href="{{ author.semanticscholar }}"><i class="fas fa-fw fa-book-open" aria-hidden="true"></i></a>
      {% endif %}
      {% if author.github %}
        <a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      {% endif %}
      {% if author.openreview %}
        <a href="{{ author.openreview }}"><i class="fas fa-fw fa-comments" aria-hidden="true"></i></a>
      {% endif %}
    </div>
  </div>
</div>
